html, body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  /* Source: https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns */
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="a" x1="0" x2="0" y1="0" y2="1"><stop offset="0" stop-color="%2380f"/><stop offset="1" stop-color="%23f40"/></linearGradient></defs><pattern id="b" width="24" height="24" patternUnits="userSpaceOnUse"><circle fill="%23fff" cx="12" cy="12" r="12"/></pattern><rect width="100%" height="100%" fill="url(%23a)"/><rect width="100%" height="100%" fill="url(%23b)" fill-opacity="0.1"/></svg>');
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  color: hsl(350, 80%, 20%);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

body.dragover {}

#controls-container {
  flex: 2;
  margin: 1rem;
  background: hsla(0, 0%, 100%, .3);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background .2s;
  cursor: pointer;
  user-select: none;
}

#controls-container:hover {
  background: hsla(0, 0%, 100%, .4);
}

#qrcode {
  margin: 0 1rem;
  position: relative;
  text-align: center;
}

#qrcode canvas {
  width: 50%;
}

#upload-label-container span {
  margin: 0 1rem;
  font-size: 1.5rem;
}

#select-label-container {
  margin: 1rem;
  display: flex;
  align-items: flex-end;
}

#select-label-container svg {
  width: 3rem;
  stroke: hsl(350, 80%, 40%);
}

#select-label-container span {
  margin-left: 0 0 0 1rem;
  font-size: 2rem;
}

#content-container {
  flex: 3;
  padding: 1rem;
  display: flex;
  overflow: auto;
}

#cards-container {
  margin: auto;
  width: 80%;
  max-width: 512px;
}

.file-card + .file-card {
  margin-top: 1rem;
}

.file-card {
  position: relative;
  padding: .5rem;
  width: 100%;
  border-radius: 16px;
  background: hsla(0, 0%, 100%, .8);
  box-shadow: 0  1px  2px hsla(177deg, 86%, 10%, 3%),
              0  2px  5px hsla(177deg, 86%, 10%, 4%),
              0  4px 10px hsla(177deg, 86%, 10%, 5%),
              0  7px 18px hsla(177deg, 86%, 10%, 6%), 
              0 13px 33px hsla(177deg, 86%, 10%, 7%),
              0 32px 80px hsla(177deg, 86%, 10%, 10%);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 85%;
  grid-template-rows: 1fr 1fr;
  animation: fade .2s forwards;
  user-select: none;
}

.file-card.upload-completed {
  opacity: .5 !important;
}

@keyframes fade {
  from { opacity: 0 }
  100% { opacity: 1 }
}

.upload-status-icon {
  grid-row: span 2;
  margin: auto;
  transform: translateX(-.5rem);
}

.upload-status-icon svg {
  width: 1.8rem;
  height: 1.8rem;
}

.upload-status-icon path {
  /* Shadow on moving elements drastically reduce performance */
  filter: drop-shadow(0 0 2px);
  opacity: 0;
  transition: opacity .2s;
}

.upload-status-icon path:first-child {
  /* Uparrow icon */
  stroke: hsl(120, 40%, 50%);
  color: hsl(120, 40%, 50%);
  stroke-width: 3;
}

.upload-status-icon path:last-child {
  /* Checkmark icon */
  stroke: hsl(330, 80%, 50%);
  color: hsl(330, 80%, 50%);
  stroke-width: 4;
}

.file-card.uploading .upload-status-icon path:first-child,
.file-card.upload-completed .upload-status-icon path:last-child {
  opacity: 1;
}

.file-card.uploading .upload-status-icon svg {
  animation: uploading 2s linear infinite;
}

.file-card.upload-completed .upload-status-icon svg {
  animation: upload-completed .2s linear forwards;
}

@keyframes uploading {
  0%, 100% { transform: translateY(  0rem) }
  25%      { transform: translateY(-.3rem) }
  75%      { transform: translateY( .3rem) }
}

@keyframes upload-completed {
  100% { transform: rotate(360deg) }
}

.file-name-container {
  display: flex;
  align-items: center;
}

.file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file-ext {
  max-width: 90%;
}

.upload-progress-track {
  position: relative;
  margin-top: .5rem;
  border-radius: 99px;
  box-shadow: inset 4px 4px 8px hsla(0, 0%, 0%, .1);
  text-align: center;
}

.upload-progress-thumb {
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 99px;
  background: linear-gradient(145deg, hsl(330, 80%, 50%),
                                      hsl(300, 70%, 40%));
  box-shadow: 0 0 8px hsla(315, 80%, 50%, .5),
              inset 4px 4px 8px hsla(0, 0%, 100%, .5);
  box-sizing: border-box;
  text-align: center;
  transition: width 2s;
  overflow: hidden;
  white-space: nowrap;
}

.upload-progress-thumb span {
  color: hsla(0, 0%, 100%, .9);
  /*
    Cannot set padding of the thumb instead of creating a child span because
    "overflow: hidden" only clips content that extends outside the box whereas
    padding is inside the box, therefore still showing although width is 0.
  */
  margin: 0 1rem;
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 19px;
  }
}
@media (min-width: 1280px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  body {
    flex-direction: column;
    overflow: auto;
  }
  #controls-container {
    flex: none;
    margin: 1rem auto;
    width: 80%;
    height: 50%;
    min-height: 320px;
    max-height: 480px;
    flex-direction: row;
  }
  #qrcode canvas {
    width: 100%;
    max-width: 240px;
  }
  #content-container {
    flex: none;
  }
  #cards-container {
    max-width: 80%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  body {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="a" x1="0" x2="0" y1="0" y2="1"><stop offset="0" stop-color="%2380f"/><stop offset="1" stop-color="%23f40"/></linearGradient></defs><pattern id="b" width="24" height="24" patternUnits="userSpaceOnUse"><circle fill="%23444" cx="12" cy="12" r="12"/></pattern><rect width="100%" height="100%" fill="url(%23a)"/><rect width="100%" height="100%" fill="url(%23b)" fill-opacity="0.1"/></svg>');
  }
  #controls-container {
    background: hsla(0, 0%, 0%, .4);
    color: hsl(350, 80%, 60%);
  }
  #controls-container:hover {
    background: hsla(0, 0%, 0%, .5);
  }
  #select-label-container svg {
    stroke: hsl(350deg, 60%, 40%);
  }
  .file-card {
    background: hsla(0, 0%, 0%, .8);
    color: hsl(350, 80%, 70%);
  }
  .file-card.uploading .upload-status-icon path {
    stroke: hsl(122, 50%, 40%);
    color: hsl(122, 50%, 40%);
  }
  .file-card.upload-completed .upload-status-icon path {
    stroke: hsl(330, 80%, 40%);
    color: hsl(330, 80%, 40%);
  }
  .upload-progress-track {
    box-shadow: inset 4px 4px 8px hsla(0, 0%, 0%, .5);
  }
  .upload-progress-thumb {
    background: linear-gradient(145deg, hsl(330, 80%, 40%),
                                        hsl(300, 70%, 30%));
    box-shadow: 0 0 8px hsla(315, 80%, 50%, .5),
                inset 4px 4px 8px hsla(0, 0%, 80%, .5);
  }
  .upload-progress-thumb span {
    color: hsla(0, 0%, 90%, .9);
  }
}


@media (pointer: coarse), (hover: none) {
  .file-card::before,
  .file-card::after {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s;
  }
  .file-card::before {
    content: attr(title);
    top: calc(45% + 11px);
    left: 30%;
    background: hsla(0, 0%, 0%, .8);
    border-radius: 6px;
    padding: .5rem;
    color: hsl(0, 0%, 100%, .8);
    font-size: .8rem;
    transform: translateX(-50%);
  }
  .file-card::after {
    content: '';
    top: 45%;
    left: 30%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent hsla(0, 0%, 0%, .8) transparent;
  }
  .file-card:hover::before,
  .file-card:hover::after {
    opacity: 1;
  }
}